/*massete legal
- Como starta no green o projeto
comece com * */
*{
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
Body{
    background-image: url("img/Eu\ sabo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

    display: flex;

    align-items: center;
    justify-content: center;
}
.caixa-maior{
    background-color: #4d3838f2;
    width: 680px;
    height: 290px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
}

.input-text{
    border: none;
    outline : none;
    width: 99%;
    height: 70px;
    background-color: #3b3b3b;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 13px;
}

.idiomas{
    width: 99%;
    border: none;
    border-radius: 13px;
    outline: none;
    padding: 8px;
    background-color: #3b3b3b;
    color: white;
}
button{
   border: none;
   padding: 10px;
   border-radius: 50%;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
    
}
.controle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resultado{
    padding: 10px;
    background: #3b3b3b;
    border-radius: 15px;
}



.Titulo-Traducao{
    color: rgb(255, 255, 255);
    background-color: #3b3b3b;
    font-size: 25px;
    margin-bottom: 15px;
}
.traducao{
    background-color: #3b3b3b;
    color: white;
    border: black;
    height: 50px;
}